body {
    background-color: black;
}

h1 {
    color: white;
    margin-top: 0;
    text-align: center;
}

#menu {
    border: 5px solid #3e3e3e ;
    border-left: none;
    border-right: none;
}

a {
    margin-left: 15px;
    display: inline-block;
    padding: 0 10px;
    color: #FFFFFF;
    transition: color 0.4s ease 0s;
}

.menu-buttons {
    text-align: center;
    line-height: 44px;
}

.carousel-holder {
    width: 100%;
    margin-top: 10px;
}

#movieCarousel {
    width: 100%;
    margin-top: 12px;
}

span {
    color: white;
}

h2 {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.movie-small {
    margin-top: 10px;
    border-top: 5px solid #3e3e3e ;

    width: 23%;
    height: 300px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}


.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}


#additional-movies {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

    min-width: 100%;
    height:300px;
}

.small-movie-image {
    width:100%;
    height:120px;
    border: 1px solid #EACB00;
}

.movie-description {
    font: 13px/1.3em "Open Sans",sans-serif;
    color: #EFEFEF;
    height: 33px;
}

.movie-text {
    border-top: 2px solid #3e3e3e ;
    padding-top: 8px;
    height: 33px;
    margin-top: 15px;
}

.read-more {
    margin-top: 0px;
    margin-left: 0;
    padding-left: 0;

    font: 12px/1.3em "Open Sans",sans-serif;
    transition: color 0.4s ease 0s;
    color: #EACB00;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
}

#slider1_container {
    margin-top: 15px;
    width: 100%;
    border: 1px solid #EACB00;
}

.movie-title{
    font: normal normal normal 25px/1.3em Forum,serif;
    color: #EFEFEF;
    margin-bottom: 10px;
    display: inline-block;
    height: 50px;
}

#footer {
    height: 70px;
    border-top: 1px solid white;
    margin-top: 20px;
}

.site-content {
    width: 968px; margin:0 auto;
    padding-bottom:10px;
}

.developers {
    width: 150px;
    vertical-align: middle;
    display: table;
}

.footer-title{
    font: normal normal normal 25px/1.3em Forum,serif;
    color: #EFEFEF;
    margin-bottom: 2px;
    display: inline-block;
    height: 15px;
}

.container span {

}

.developer {
    font: 13px/1.3em "Open Sans",sans-serif;
    color: #EACB00;
    width: 100%;
    display: table-row;
}

a{
    text-decoration: none;
}

a:link{
    color: #EACB00;
}

a:visited {
    color: #EACB00;
}

a:hover {
    color: white;
}

a:link {
    text-decoration: none;
}