body {
    background-color: black;
}

#login-info{
    margin-top: 50px;
    margin-left: 24%;
    color: white;
    margin-top: 50px;
    font: 16px/1.3em 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-stretch: normal;
}

.property-label{
    margin-right: 10px;
}

.element{
    margin-top: 10px;
}

#name-label{
    margin-left: 90px;
}

#surname-label{
    margin-left: 66px;
}

#username-label{
    margin-left: 56px;
}

#password-label{
    margin-left: 58px;
}

#email-label{
    margin-left: 90px;
}
#confirm-password-label
{
    margin-left: -11px;
}


.btn{
    color: black;
    margin-left: 10px;
    padding: 5px;
    font: 17px/1.5em 'Open Sans', sans-serif;
}

.btns-element{
    margin-top: 10px;
    margin-left: 230px;
}

a:link{
    color: #EACB00;
}

a:visited {
    color: #EACB00;
}

a:hover {
    color: white;
}

a:link {
    text-decoration: none;
}